<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <tls13BackwardsCompatibilityMode>true</tls13BackwardsCompatibilityMode>
    <addECPointFormatExtension>false</addECPointFormatExtension>
    <addEllipticCurveExtension>true</addEllipticCurveExtension>
    <addSignatureAndHashAlgorithmsExtension>true</addSignatureAndHashAlgorithmsExtension>
    <addRenegotiationInfoExtension>true</addRenegotiationInfoExtension>
    <addSupportedVersionsExtension>true</addSupportedVersionsExtension>
    <addKeyShareExtension>true</addKeyShareExtension>
    <highestProtocolVersion>TLS13</highestProtocolVersion>
    <supportedVersions>
        <supportedVersion>TLS13</supportedVersion>
    </supportedVersions>            
    <defaultClientSupportedCipherSuites>
        <defaultClientSupportedCipherSuite>TLS_AES_128_GCM_SHA256</defaultClientSupportedCipherSuite>
        <defaultClientSupportedCipherSuite>TLS_AES_256_GCM_SHA384</defaultClientSupportedCipherSuite>
        <defaultClientSupportedCipherSuite>TLS_CHACHA20_POLY1305_SHA256</defaultClientSupportedCipherSuite>
        <defaultClientSupportedCipherSuite>TLS_AES_128_CCM_SHA256</defaultClientSupportedCipherSuite>
        <defaultClientSupportedCipherSuite>TLS_AES_128_CCM_8_SHA256</defaultClientSupportedCipherSuite>
    </defaultClientSupportedCipherSuites>
    <defaultClientSupportedSignatureAndHashAlgorithms>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_SHA256</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_SHA384</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_SHA512</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ECDSA_SHA256</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ECDSA_SHA384</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ECDSA_SHA512</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_PSS_RSAE_SHA256</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_PSS_RSAE_SHA384</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_PSS_RSAE_SHA512</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_PSS_PSS_SHA256</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_PSS_PSS_SHA384</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_PSS_PSS_SHA512</defaultClientSupportedSignatureAndHashAlgorithm>
    </defaultClientSupportedSignatureAndHashAlgorithms>
    <defaultClientSupportedCompressionMethods>
        <defaultClientSupportedCompressionMethod>NULL</defaultClientSupportedCompressionMethod>
    </defaultClientSupportedCompressionMethods>
    <defaultClientNamedGroups>
        <defaultClientNamedGroup>SECP256R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECP384R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECP521R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>ECDH_X25519</defaultClientNamedGroup>
        <defaultClientNamedGroup>ECDH_X448</defaultClientNamedGroup>
        <defaultClientNamedGroup>FFDHE2048</defaultClientNamedGroup>
        <defaultClientNamedGroup>FFDHE3072</defaultClientNamedGroup>
        <defaultClientNamedGroup>FFDHE4096</defaultClientNamedGroup>
        <defaultClientNamedGroup>FFDHE6144</defaultClientNamedGroup>
        <defaultClientNamedGroup>FFDHE8192</defaultClientNamedGroup>
    </defaultClientNamedGroups>
    <defaultClientKeyShareNamedGroups>
        <defaultClientKeyShareNamedGroup>SECP256R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECP384R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECP521R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>ECDH_X25519</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>ECDH_X448</defaultClientKeyShareNamedGroup>
    </defaultClientKeyShareNamedGroups>
</config>